fastapi[standard]
uvicorn[standard]
celery[redis]
redis
sqlalchemy
alembic
psycopg2-binary
python-dotenv
httpx
groq
pgvector
passlib[bcrypt]
bcrypt==4.0.1
pdfplumber
python-multipart
python-jose[cryptography]
requests
slowapi
supabase
pymupdf